<div class="ui-widget-header ">
  <div class="float-left title">Title</div>
  <div class="float-left description">Description</div>
  <div class="float-left date">Date</div>
  <div class="float-left time">Time</div>
  <div class="float-left buttons"></div>
  <div class="clear" ></div>
</div>